<% provide(:title, 'Help') %>

<h2>Help :)</h2><br>

<p>Welcome to Timelogger. Here's what you'll need to do first:</p>

<ol>
	<li><%= link_to "Add any grants for your position", new_user_grantholding_path(current_user) %> before you start logging your time.</li>
	<li><%= link_to "Add your supervisor(s)", users_path %>.</li>
	<li>If you have supervisees, have them add you as their supervisor.</li>
</ol>

<p>Some basic pointers:</p>

<ul>
	<li><b>Visibility.</b> 

		You can view:
		<ul>your own information, and</ul>
		<ul>your supervisees's information (if that applies to you).</ul>

		Only this info of yours is visible to your co-workers:
		<ul>
			<li>your name,</li>
			<li>your position, and</li>
			<li>whether or not you're a site admin.</li>
		</ul>

		Only these people may view your Timelogger information:
		<ul>
			<li>you,</li>
			<li>your supervisor(s), and</li>
			<li>Timelogger site admins.</li>
		</ul>

		You can add another user as your supervisor, but you can't add them as your supervisee. This is for privacy reasons.
	</li>

	<br>

	<li><b>Creating Timelogs.</b>
		Timelogs are basically just timecards that we've rebranded and made cooler (we hope). 
		<ul>
			<li>
				To create a Timelog as you work, click on the "Start Timelog" button on the left sidebar.
			</li>
			<li>
				To create a Timelog after the fact, click on the "Create new Timelog" button, also found on the left sidebar.
			</li>
			<li>
				Once you've clicked "Finish Timelog" (if you're creating one as you work), or clicked "Create new Timelog", you'll be taken to a form where you can allocate to your grants the time you've just recorded.
			</li>
		</ul>
	</li>
</ul>

<p><b>Happy logging!</b></p>