<% provide(:title, 'Help') %>

<h2>Help :)</h2><br>

<p>Welcome to Timelogger. Here's what you'll need to do first:</p>

<ol>
	<li>Add any grants for your position before you start logging your time.</li>
	<li>Add your supervisor.</li>
	<li>If applicable, ask your supervisees to add you as their supervisor.</li>
</ol>

<p>Some basic pointers:</p>

<ul>
	<li><b>Visibility.</b> 

		The only info of yours that's visible to all your co-workers is:
		<ul>
			<li>your name,</li>
			<li>your position, and</li>
			<li>whether or not you're a site admin.</li>
		</ul>

		The only people who may view your Timelog information are:
		<ul>
			<li>you,</li>
			<li>your supervisor(s), and</li>
			<li>Timelogger site admins.</li>
		</ul>
	</li>

	<li><b>Creating Timelogs.</b>
		Timelogs are just timecards that we've rebranded and made cooler(?). 
		<ul>
			<li>
				To create a Timelog as you work, click on the "Start Timelog" button on the left sidebar.
			</li>
			<li>
				To create a Timelog after the fact, click on the "Create new Timelog" button, also found on the left sidebar.
			</li>
			<li>
				Once you've clicked "Finish Timelog" (if you're creating one as you work), or clicked "Create new Timelog", you'll be taken to a form where you can allocate to your grants the time you've just recorded.
			</li>
		</ul>
	</li>
</ul>

<p>Happy logging!</p>