<div id="hero-unit-image">
	<%= image_tag 'tree-trunk-rings.jpg', size: '230x230' %>
</div>

<div class="jumbotron", id="jumbotron">
  <h1>Timelogger: one, two, done.</h1>
  <p>Record time spent on your grants, view employees' progress, and more.</p>
  <p>
  	<%= link_to "Log in", login_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Enroll organization", new_organization_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>