<div class="field">
	<%= t.grantholding.grant.name %> (for example: 0:07 hours means 7 minutes) <br>
	<%= t.text_field :hours %> hours
</div>

<div class="field">
	<%= t.label :comments %>
	<%= t.text_area :comments %>
</div>