<div class="form-group">
	<div class="field">
		 (for example: 0:07 hours means 7 minutes) <br>
		<%= t.text_field :hours, placeholder: "hh:mm:ss", class: 'form-control' %> hours
	</div>

	<div class="field">
		<%= t.label :comments %>
		<%= t.text_area :comments, placeholder: "Describe your grant-related work during this time.", class: 'form-control' %>
	</div>
</div>