<div class="form-group">
	<%= t.label :hours, "#{t.object.grantholding.grant.name}", class: "col-lg-2 control-label" %>
	<div class="col-lg-10">
		<%= t.text_field :hours, class: 'form-control', placeholder: "HHH:MM:SS" %>
	</div>
</div>

<div class="form-group">
	<%= t.label :comments, "Description", class: "col-lg-2 control-label" %>
	<div class="col-lg-10">
		<%= t.text_area :comments, class: 'form-control', placeholder: "Description" %>
	</div>
</div>