<li class="control-group nested-fields">
	<h2>Time allocated to grants:</h2>
  <div class="controls">
    <%= t.label :hours, "#{t.object.grantholding.grant.name} hours" %>
    <%= t.text_field :hours, placeholder: "hhh:mm:ss" %>

    <%= t.label :comments %>
    <%= t.text_area :comments, rows: 5, placeholder: "Describe today's grant-related work" %>
  </div>
</li>