<% provide(:title, "View Timelogs") %>

<h2>
  <% if current_user?(@user) %>
    <%= "My Timelogs" %>
  <% else %>
    <%= "#{@user.first_name}'s Timelogs" %>
  <% end %>
</h2>

<br>

<%= 
  render partial: "tt_date_selectors", locals: { user: @user } 
%>

<%= 
  render partial: "timelogs_table", 
  locals: { 
    grantholdings: @grantholdings, 
    user: @user, 
    start_date_table: @start_date_table, 
    end_date_table: @end_date_table, 
    days: @days 
  } 
%>