<p><%= @greeting %></p>

<p>
	Thanks for signing up for Timelogger! Click on the link below to activate your account:
</p>

<%= link_to "Activate Timelogger account", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>
	Happy logging,
	Timelogger Staff
</p>