<p><%= @greeting %></p>

<p>
	Thanks for signing up for Timelogger! Click on the link below to activate your account:
</p>

<%= link_to "Activate your Timelogger account here", activate_user_url(id: @user.activation_token, user_id: @user.id, organization_id: @organization.id) %>

<p>
	Happy logging,
	Timelogger Staff
</p>