<li>
	<%= grantholding.grant.name %> 
	<% hours_worked = @user.hours_worked_on_grant(@since_date, grantholding.grant.name).to_f %>
	<%= " -- #{format_duration hours_worked}" %>

	<% required_hours = grantholding.required_hours.to_f %>
	<% hours_to_go = required_hours - hours_worked %>

	<% if hours_worked < required_hours %>
		<span class="text-error">
			<%= "(#{format_duration hours_to_go} remaining)" %>
		</span>

	<% else %>
		<span class="text-success">
			<%= "(Met requirements since given date)" %>
		</span>
	<% end %>
</li>