<%#= Grantholding Name: 34 hrs, 21 min (- 3 hrs, 24 min) %>

<div class="grant-time-left">
	<% total = g.time_allocated_since(since_date) %>
	<%= ": #{format_time(total, amount: true)}" %>
	<% if total < g.required_hours %>
		<% less_than = g.required_hours - total %>
		<div class="text-error">
			<%= "(- #{format_time(less_than, amount: true)})" %>
		</div>
	<% end %>
</div>