<div class="btn-group" data-toggle="buttons">	
	<% if user.has_supervisees? %>
		<label class="btn btn-primary my-btn active">
			<input type="checkbox" autocomplete="off" checked>My timelogs
		</label>
		<label class="btn btn-primary my-btn">
			<input type="checkbox" autocomplete="off">Supervisees' timelogs
		</label>
	<% end %><br><br>

	<h3>Timelogs</h3>
	<p>Filter by:</p>
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary my-btn active">
			<input type="checkbox" autocomplete="off" checked>Newest
		</label>
		<label class="btn btn-primary my-btn">
			<input type="checkbox" autocomplete="off">Oldest
		</label>
		<label class="btn btn-primary my-btn">
			<input type="checkbox" autocomplete="off">A&#8594;Z
		</label>
		<label class="btn btn-primary my-btn">
			<input type="checkbox" autocomplete="off">Z&#8594;A
		</label>
		<label class="btn btn-primary my-btn">
			<input type="checkbox" autocomplete="off">By Grant
		</label>
	</div>
</div>