<%= f.fields_for :grantholdings do |ff| %>
	<% user.grantholdings.each do |grantholding| %>
		<div class="field">
			<%= ff.check_box :_destroy %> Delete
			<%= "#{grantholding.grant.name}:" %><br>
			<%= ff.text_field :required_hours %> / pay period
		</div>
	<% end %>
<% end %>
		
	