<!-- <div id="user-info-blurb">
	<%= link_to gravatar_for(user), user_path(user) %>
	<ul>
		<li><%= link_to full_name(user), user %></li>
		<li>
			<%= user.position %>
			<% if user.admin? %>
				(&#x2606; <%#= Star symbol %> Admin)
			<% end %>
		</li>
		<li><%= user.organization.name %></li>
	</ul>
</div> -->