<% provide(:title, "Co-Workers") %>

<h2>My Co-Workers</h2>

<% for user in @users %>
  <%=  
      render partial: 'shared/user_blurb', 
      locals: { user: user, index: true } 
  %>
<% end %>

<% if @users.empty? %>
	<br>
	<p>(No other users yet)</p>
<% end %>