<div id="grants-fulfillments">
	<%= form_tag('') %>
	<ul>
		<% user.grantholdings.each do |g| %>
		<li><%= g.grant.name %>:
				<% total = g.total_time_allocated_since start_date %>
				<%= total %>
				<% if total < g.required_hours %>
					<%= "(- #{grantholding.required_hours - total})" %>
				<% end %>
		</li>
		<% end %>
	</ul>
</div>

<%# TODO: Reroute root_url to user#show. In UsersController#show, if logged out, redirect to static_home_path. %>