<div class="field">
  Choose an organization keyword. Remember what you selected -- other employees will need it to register.<br>
  <%= f.password_field :password, class: 'form-control' %>
</div>
<div class="field">
	Confirm your organization's keyword.<br>
	<%= f.password_field :password_confirmation, class: 'form-control' %>
</div>