<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<%#= TODO: Make edit link only available to admin users. %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |

