<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @organization.name %></h3>
    <% if current_user.admin? %>
	    <h3 class="panel-title right-heading">
				<%= link_to 'Edit', edit_organization_path(@organization) %>
    	</h3>
    <% end %>
  </div>
  <div class="panel-body">
    <%= @organization.description %>
  </div>
</div><br><br>
