<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
	<aside>		
		<div id="timelog-button">
			<%= render partial: 'shared/start_timelog_button' %>
		</div>
		<%= link_to "Timelog from scratch", new_timesheet_path %>
		<div id="timelog-timer"> </div>
		<div id="current-time"> </div>
	</aside>
</div>