<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
	<aside>
		
		<span id="timelog-button">
			<%= link_to "Start Timelog", '#', id: 'timelog-button' %>
		</span>
		
		<%= link_to "Cancel Timelog", '#', id: 'timelog-cancel-button' %>
		<%= link_to "Timelog from Scratch", new_timesheet_path %>
		
	</aside>
</div>