<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
	<aside>
	<br><br>
	<div id="timelog-button">		
		<%= link_to "Start Timelog", '#', class: 'timelog-button-resting', id: 'start-timelog' %>
		<%= link_to "Finish Timelog", new_timelog_path, class: 'timelog-button-running hidden', id: 'finish-timelog' %><br>
		<%= link_to "Cancel Timelog", user_path(current_user), class: 'timelog-button-running hidden', id: 'cancel-timelog' %>
	</div>
		<%= link_to "Timelog from scratch", new_timelog_path %>
		<div class='timelog-button-running hidden', id="timelog-timer"></div>
		<p>Current time:</p>
		<div id="current-time"></div>
	</aside>
</div>